In [5]:
student = {}

In [6]:
print(student)

{}

In [7]:
student['name'] = 'Mike'

In [8]:
print(student)

{'name': 'Mike'}

In [9]:
print(student['name'])

Mike

In [10]:
student['name'] = 'Tony'

In [11]:
print(student['name'])

Tony

In [12]:
student['age'] = 100
student["birthday"]= '12/1/1971'

In [13]:
print(student)

{'name': 'Tony', 'age': 100, 'birthday': '12/1/1971'}

In [14]:
print(student['gpa'])

KeyError: 'gpa'

In [15]:
student['NAME'] = "Mike"

In [16]:
print(student)

{'name': 'Tony', 'age': 100, 'birthday': '12/1/1971', 'NAME': 'Mike'}

In [17]:
something = { 1 : 'a', 2: 5, True: False}

In [18]:
print(something)

{1: False, 2: 5}

In [19]:
grades = [100, 100, 50]

In [20]:
grades[1]

100

In [21]:
grades[1] = 75

In [22]:
grades

[100, 75, 50]

In [23]:
student['grades'] = grades

In [24]:
print(student)

{'name': 'Tony', 'age': 100, 'birthday': '12/1/1971', 'NAME': 'Mike', 'grades': [100, 75, 50]}

In [25]:
student['grades'][2]

50

In [26]:
type(student)

dict

In [27]:
type(student['grades'])

list

In [28]:
student['grades'].append(85)
print(student)

{'name': 'Tony', 'age': 100, 'birthday': '12/1/1971', 'NAME': 'Mike', 'grades': [100, 75, 50, 85]}

In [29]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [31]:
for value in student.values():
    print(value)

Tony
100
12/1/1971
Mike
[100, 75, 50, 85]

In [33]:
for key in student.keys():
    print(key)

name
age
birthday
NAME
grades

In [34]:
student.items()

dict_items([('name', 'Tony'), ('age', 100), ('birthday', '12/1/1971'), ('NAME', 'Mike'), ('grades', [100, 75, 50, 85])])

In [35]:
for key, value in student.items():
    print(f"{key} ==> {value}")

name ==> Tony
age ==> 100
birthday ==> 12/1/1971
NAME ==> Mike
grades ==> [100, 75, 50, 85]

In [36]:
x = 100

In [39]:
del x

In [41]:
del student['NAME']

In [42]:
for key, value in student.items():
    print(f"{key} ==> {value}")

name ==> Tony
age ==> 100
birthday ==> 12/1/1971
grades ==> [100, 75, 50, 85]

In [43]:
import random
del random

In [46]:
text = input("Enter some text: ")
wordlist = text.split()
print(len(wordlist))

Enter some text: i am sam sam i am do you like green eggs and ham
13

In [47]:
wordlist

['i',
 'am',
 'sam',
 'sam',
 'i',
 'am',
 'do',
 'you',
 'like',
 'green',
 'eggs',
 'and',
 'ham']

In [56]:
text = "i am sam sam i am i like ham ham spam ham" #input("Enter some text: ")
wordlist = text.split()
wordcounts = {}
for word in wordlist:
    if word in wordcounts.keys():
        wordcounts[word] = wordcounts[word] + 1
    else:
        wordcounts[word] = 1

In [57]:
print(wordcounts)

{'i': 3, 'am': 2, 'sam': 2, 'like': 1, 'ham': 3, 'spam': 1}

In [62]:
text = input("enter text: ") #"i am sam sam i am i like ham ham spam ham" #input("Enter some text: ")
wordlist = text.split()
wordcounts = {}
for word in wordlist:
    wordcounts[word] = wordcounts.get(word,0) + 1

enter text: this is a test this is only a test

In [63]:
print(wordcounts)

{'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}

In [64]:
shopping_list = [ 
    { 'item' : 'apple', 'qty' : 5},
    { 'item' : 'beer', 'qty' : 1},
    { 'item' : 'cereal', 'qty' : 10},
    { 'item' : 'cheese', 'qty' : 1}
]

In [65]:
shopping_list[-1]

{'item': 'cheese', 'qty': 1}

In [66]:
shopping_list[2]['qty']

10

In [67]:
total = 0
for item in shopping_list:
    total = total + item['qty']
    
print(total)

17

In [68]:
with open ('WMC4-usinfo.json', 'r') as f:
    data = f.read()
    
print(data)

[{"name":"United States","topLevelDomain":[".us"],"alpha2Code":"US","alpha3Code":"USA","callingCodes":["1"],"capital":"Washington, D.C.","altSpellings":["US","USA","United States of America"],"relevance":"3.5","region":"Americas","subregion":"Northern America","translations":{"de":"Vereinigte Staaten von Amerika","es":"Estados Unidos","fr":"États-Unis","ja":"アメリカ合衆国","it":"Stati Uniti D'America"},"population":321645000,"latlng":[38.0,-97.0],"demonym":"American","area":9629091.0,"gini":48.0,"timezones":["UTC-12:00","UTC-11:00","UTC-10:00","UTC-09:00","UTC-08:00","UTC-07:00","UTC-06:00","UTC-05:00","UTC-04:00","UTC+10:00","UTC+12:00"],"borders":["CAN","MEX"],"nativeName":"United States","numericCode":"840","currencies":["USD","USN","USS"],"languages":["en"]}]

In [69]:
type(data)

str

In [72]:
import json
with open ('WMC4-usinfo.json', 'r') as f:
    data = json.load(f)
    
data[0]['name']

'United States'

In [74]:
data[0]['borders']

['CAN', 'MEX']

In [96]:
import json
searchword = input("Enter a search term: ").lower()
with open ('top-100-reddit-worldnews-2020-03-09.json', 'r') as f:
    reddit = json.load(f)
    
count = 0
article_count = 0
for article in reddit['data']['children']:
    title = article['data']['title'].lower()
    #print(title)
    #print()
    if searchword in title:
        count = count + 1
        
    article_count += 1
print(f"The word {searchword} appears in {count} article titles {100 * count/article_count}%.")

Enter a search term: stock
The word stock appears in 4 article titles 4.0%.

In [82]:
reddit['data']['children'][0]['data']['title']

'Oil plummets 31% in biggest drop since Gulf War as Saudi cuts spark all-out price war. Oil markets tumbled the most in decades overnight on Sunday. The sell-off was fueled by sinking demand due to coronavirus concerns.'